body{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
}

.container{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
}

.header-main-title{
    font-family: 'Tilt Prism', cursive;
    font-size: 4em;
    font-weight: 500;
    display:flex;
    justify-content: center; 
    flex-wrap: wrap; 
    margin-bottom: 20px;
}


.col-first{
    color: #FFED00;
    padding:0 10px;
}

.col-second{
    padding:0 10px;
}

.col-third{
    color: #16FF00;
    padding:0 10px;
}

.header-sub-title{
    width:100%;
    font-size: 2.5em;
    margin-top: 0;
}

#result-area{
    margin: 1rem 0 ;
    font-size: 1.5em;
}

.play-area{
    width:100%;
    margin: 1rem 0 ;
    display: flex;
    height: 2.5rem;
}

.row-1{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
}

.row-2{
    width:40%;
    display: flex;
    justify-content: flex-start;
}

#user-input{
    width: 30rem;
    text-align: center;
    font-size: 1.5rem;
}
#play-button{
    width: 10rem;
    background-color: black;
    border: 2px solid white;
    color : white;
    font-size: 1.5rem;
}

#play-button:hover{
    color: #FFED00;
    border: 2px solid #FFED00;
}


#chances-area{
    margin: 1rem 0 ;
    font-size: 1.5em;
}

#reset-button{
    width: 10rem;
    background-color: black;
    border: 2px solid white;
    color : white;
    font-size: 1.5rem;
}

#reset-button:hover{
    color: #FFED00;
    border: 2px solid #FFED00;
}

@media screen and (max-width: 48rem) {
    .header-sub-title {
      font-size: 8vw;
    }
    .header-main-title {
      font-size: 10vw;
    }

    .row-1{
        width: 60%;
        display: flex;
        justify-content: center;
        margin-right: 0;
        margin-left:1em;
    }
    
    .row-2{
        width:40%;
        display: flex;
        justify-content: center;
    }

    #play-button{
        width: 6rem;
    }

    #user-input{
        width: 15rem;
        font-size: 1rem;
    }
}    